@import 'tailwindcss';

body {
  margin: 0;
  color: #fff;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

/* Display portrait item image on the right*/
.item-image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 300px;
  height: auto;
}

.green {
    color: #00ff00;
}